.applyStudent{
    background-color: rgb(208, 222, 235);
    padding: 10px;
    margin: 1%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    /* skal endre når vi gjør det til grid */
}

#studAppMain {
  padding: 70px 2% 2% 2%;
  display: grid;
  grid-template-areas:
    "title title title"
    "overview middle full"
    "overview middle full"
    "overview middle next";
  grid-template-rows: 80px 80px 2fr 80px;
  grid-template-columns: 3fr 1fr 6fr;
}

#title{
  grid-area: title;
  justify-self: center;
}

#overview {
  grid-area: overview;
}

#full {
  grid-area: full;
  background-color: rgb(208, 222, 235);
  padding: 2%;
  height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#next {
  grid-area: next;
  height: 70px;
  width: 70px;
  align-self: center;
  justify-self: right;
  font-size: 20px;
  text-decoration: none;
}

#studAppMain img{
  grid-area: next;
  height: 70px;
  align-self: center;
 
}

.inList{
  background-color: #B9C6D6;
}

.studIntForm form{
  margin: auto;
  margin-top: 2%;
  width: 60%;
  background-color: rgb(208, 222, 235);
  padding: 2% 5%;
  text-align: center;
  box-sizing: border-box;
}

.studIntForm input{
  width: 25%;
  display: inline-block;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 3% 1%;
}

.studIntForm label{
  display: inline-block;
}

.studIntForm input[type=submit] {
  width: 30%;
  background-color: #ccc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2%;
  display: block;

}

input[type=submit]:hover {
  background-color:rgb(169, 189, 255);
}

main.visible{
  display: block;
}

main.hidden{
  display: none !important;
}

#projectListContainer{
  margin: auto;
  width: 60%;
  margin-top: 2%;
}

#projectListContainer p{
  margin: 1%;
}

#projectList>span{
  display: inline-block;
  font-size: 0.8em;
  background-color: rgb(208, 222, 235);
  padding: 1%;
  margin: 0.5%;
}