.student, .business {
  margin: 2% 12%;
  width: 70%;
  padding: 2%;
  display: inline-block;
  background-color: rgb(208, 222, 235);
}
.student img{
  width: 40%;
  display: block;
  float: left;
  margin-right: 35px;
}
.business img{
  width: 40%;
  display: block;
  float: right;
  margin-left: 35px;
}